<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbd.dao.Nav1Mapper">
    <!--查询class的鞋子-->
    <resultMap id="all" type="com.qbd.pojo.Shoes">
        <id column="goodsId" property="goodsId"></id>
        <association property="shoesImg" column="goodsImgId" select="com.qbd.dao.ShoesImgMapper.getShoesImg">
        </association>
        <association property="shoesType" column="goodsTypeId" select="com.qbd.dao.ShoesTypeMapper.getShoesTypeById">
        </association>
    </resultMap>
    <select id="getShoesByClass" resultMap="all">
         select * from goods where isOnSale=${1} and goodsTypeId=#{goodsTypeId};
    </select>
    <select id="getGoodsTypeIdByBrandName" resultType="java.lang.Integer">
        select id from  goodstype where brandName=#{kind};
    </select>

    <!--模糊查询-->
    <select id="getShoesBySearch" parameterType="String" resultMap="all">
        select * from goods where  isOnSale=${1} and goodsName like '%${goodsName}%';

    </select>
</mapper>