<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbd.dao.ShoesTypeMapper">
    <select id="getShoesTypeById" resultType="com.qbd.pojo.ShoesType">
        select * from goodstype where id = #{goodsTypeId};
    </select>
</mapper>