p{
	font-family:"华文细黑" ;
	font-size: 16px;
}
.top{
	background-image:url(/images/cartop.jpg) ;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 60%;
}
table{
	border:solid 3px;
	border-color: #101010;
	text-align: center;
}
.foot{
	display: block;
	width: 80px;
	background-color: red;
	text-decoration: none;
	float: right;
	text-align: center;
}
.foot:hover{
	background-color:#C1E2B3;
	border: solid 2px;
}
img{
	width: 80px;
	height: 80px;
}
.allPrcie{
	color: red;
}
a{
    text-decoration: none;

}
a:hover{
	color: red;
}